body, html
  line-height : 1
  font-weight : 200
  font-family : 'PingFang SC', 'STHEITISC-Light','Helvetica-Light',Arial,sans-serif
.clearfix
  display : inline-block
  &:after
    display : block
    contain : " "
    clear : both
    visibility : hidden // 将元素隐藏，但是在网页中该占的位置还是占着
    height: 0
    line-height : 0
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
 .border-1px
   &::after
     -webkit-transform: scaleY(0.7)
     transform: scaleY(0.7)
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)
